<div>
    {{#if started}}
    <div class="flexrow">
        <img src="{{currentUserURL}}" class="userAvatar flex0" style="height:60px;width:60px;object-fit:contain"/>
        <div class="icon flexcol">
            <h4>{{currentPlayer.name}}</h4>
            <small>{{currentUser.name}} {{localize 'FARKLE.turn'}}</small>
        </div>
        {{#if isFarkle}}
        <div class="farkled flex0">
            Farkle!
        </div>
        {{else if gameState.isHotDice}}
        <div class="farkleDie burning flex0" data-tooltip="FARKLE.hotDice">
            <i class="fas fa-fire"></i>
        </div>
        {{/if}}
        
    </div>
    {{/if}}
    <div class="flexrow">
        {{#if started}}
            {{#if allowedToRoll}}
                <button type="button" class="{{ifThen myTurn '' 'hidden'}} icon fas fa-dice" data-action="rollDice" data-tooltip="FARKLE.roll"></button>
            {{/if}}
            {{#if myTurn}}                
                <button type="button" class="icon fas fa-arrow-right" data-tooltip="FARKLE.endTurn" data-action="endTurn"></button>
            {{else}}
            {{#if isGm}}
                <button type="button" class="icon fas careful fa-arrow-right" data-tooltip="FARKLE.endTurn" data-action="endTurn"></button>
            {{/if}}
            {{/if}}
        {{else}}
            <p>{{localize 'FARKLE.noGame'}}</p>
        {{/if}}
        {{#if isGm}}
        <div class="flexrow" style="margin-left: auto;flex:auto;flex-grow:0;">
            {{#if hasRematchData}}
            <button type="button" class="icon fas fa-redo" data-action="rematch" data-tooltip="FARKLE.rematch"></button>
            {{/if}}
            <button type="button"  class="icon fas fa-flag-checkered" data-action="startFarkle"
                data-tooltip="FARKLE.start"></button>
            <button type="button" class="icon fas fa-xmark" data-action="endFarkle" data-tooltip="FARKLE.close"></button>            
        </div>
        {{/if}}
    </div>
    {{#if started}}
    <div class="dieArea flexrow">
        {{#each currentDice as |die index|}}
        <div class="farkleDie {{die.cssClass}}" data-die="{{die.die}}" data-index="{{index}}"
            data-action="keepDie">
            {{die.die}}
        </div>
        {{/each}}
    </div>
    <div class="scrollable">
        <div class="score" style="border-bottom: 1px solid black;">
            <div class="flexrow">
                <b style="flex: 2">{{localize 'FARKLE.currentPoints'}}</b>
                <div class="flexrow">
                    <div class="currentPoints">
                        {{currentTurnPoints}}
                    </div>
                    <div>
                        {{#if gameState.targetScore}}
                        <span data-tooltip="FARKLE.targetScore"><i class="fas fa-bullseye"></i> {{gameState.targetScore}}</span>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{#if gameState.lastChanceRound}}
        <div class="lastChanceIndicator" style="background: #ff9800; color: white; padding: 5px; text-align: center; border-radius: 3px; margin-bottom: 5px;">
            <i class="fas fa-exclamation-triangle"></i> {{localize 'FARKLE.lastChanceRound'}}
        </div>
        {{/if}}
        <div class="scores">
            {{#each sortedUsers as |player|}}
            <div class="playerScore flexrow {{#if player.isCurrentTurn}}current-turn{{/if}}">
                <div style="flex: 0 0 20px">
                    {{#if player.isCurrentTurn}}<i class="fas fa-play" style="color: var(--color-shadow-primary);"></i>{{/if}}
                    {{#if player.isLeader}}{{#unless player.isCurrentTurn}}<i class="fas fa-crown"></i>{{/unless}}{{/if}}
                </div>
                <b class="flex1">{{player.name}}</b>
                <div class="flex1" style="flex: 0 0 24px; text-align: center; opacity: 0.6; font-size: 0.8em;" data-tooltip="FARKLE.turnOrder">
                    ⟨{{player.turnOrder}}⟩
                </div>
                <div class="flex1">
                    <div class="playerScoreValue">{{player.score}}</div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}

</div>